<% content_for :head do %>
  <title>Home</title>
<% end %>

<% content_for :navbar do %>
  <%= render 'shared/navbar' %>
<% end %>

<% content_for :sub_navbar do %>

<% end %>

<% content_for :content_left do %>

<% end %>

<% content_for :content_right do %>

<% end %>

<% content_for :content_left_bottom_cta do %>

<% end %>
